# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




<nav className="hidden md:flex items-center gap-8 font-medium">
                    {links.map((item, index) => (
                        <Link
                            key={index}
                            to={item.path}
                            onClick={() => window.scrollTo({ top: 0, behavior: "smooth" })}
                            className={`${pathname === item.path && "text-indigo-600 transition after:absolute after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0 after:bg-indigo-500 after:transition-all"} relative text-gray-700 hover:text-indigo-600 transition
              after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:w-0
              after:bg-indigo-500 after:transition-all hover:after:w-full`}>
                            {item.title}
                        </Link>
                    ))}
                </nav>